/**
公共样式
**/
@import "./common";

body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,button,textarea,p,blockquote，th,td,header, nav, section,aside,footer{margin:0;padding:0;box-sizing: border-box}
ol,ul {list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
html {
  height: 100%;
}
body{
  height: 100%;
  color: $font-color-content;
  background-color: $bg-base;
  font-family: 'Microsoft YaHei';
  font-size: $font-size-16;
  line-height: 1;
}
//重置ioncic组件样式
body .ion-page {font-size: $font-size-16;}
.ion-page > .content{background: $bg-base;}
//.list .item-block .item-inner{border: none;}

.list button.item>.item-inner{
  background: url("../assets/imgs/common/right@2x.png") no-repeat center right;
  background-size: .08rem;
  padding-right: .2rem;
}
.list .item-block{min-height: .44rem;line-height: 1;}
.toast-button{font-size: .15rem;height: .036rem;}
ion-icon.icon{font-size: .34rem}
ion-label{font-size: $font-size-16;}
ion-list-header,.list-header{min-height: .4rem;font-size: .14rem;}
.back-button-ios{min-height: .32rem;}
.button-ios{margin: 0;}
.item-ios h1,.item-ios h2,.item-ios h3,.item-ios h4,.item-ios h5,.item-ios h6{font-size: .16rem;}
.picker-ios .picker-opt{height:.46rem;}
ion-app.ios{font-size: .14rem;}
.searchbar-ios .searchbar-input{font-size: .14rem;line-height: .03rem;}
.action-sheet-ios .action-sheet-title{padding: .15rem;font-size: .13rem;}
.action-sheet-ios .action-sheet-button{min-height: .56rem;font-size: .2rem;}



ion-app.md{font-size: .14rem;}
.item{padding: 0;}
.bar-button-md{margin: 0;}
.item-md h1,.item-md h2,.item-md h3,.item-md h4,.item-md h5,.item-md h6{font-size: .16rem;}
.item-md p{font-size: .14rem;}
.picker-md .picker-opt{height: .43rem}
.searchbar-md .searchbar-input{font-size: .16rem;line-height: .03rem;}
.searchbar-md .searchbar-search-icon{top:6px;}
.action-sheet-md .action-sheet-title{font-size: .16rem;}
.action-sheet-md .action-sheet-button{min-height: .48rem;font-size: .16rem;}
.action-sheet-md .action-sheet-group:first-child{padding-top: .08rem;}
.action-sheet-md .action-sheet-group:last-child{padding-bottom: .08rem;}


.clear:after{
  content:"";
  display:block;
  clear:both;
}
.clear-top:before{
  content:"";
  display:table;
}
.left{float:left;}
.right{float:right}


/*省略号*/
.ellipsis{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
//ion-conten 背景
.bg-fff{background: #fff;padding:0 .15rem;margin: .15rem 0;}
