/**全局变量**/
$base-url: "http://assets.fnord.com";//域名
$bg-base: #F5F6F8;/*背景颜色*/
$main-bg-color: #0B98FF;/*主色*/
$font-color-title: #333333;/*标题颜色*/
$font-color-content: #666666;/*正文颜色*/
$font-color-disc: #999999;/*辅助颜色*/

//字体
$font-size-16:.16rem;
$font-size-15-5:.155rem;
$font-size-14-5:.145rem;
$font-size-14:.14rem;
$font-size-13:.13rem;



